## .NET Core
*.user
*.suo
*.userosscache
*.sln.docstates
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
TestResults/

## Visual Studio
.vs/
*.rsuser
*.vspx
*.sap

## JetBrains Rider
.idea/
*.sln.iml

## macOS
.DS_Store
